{
  "presets": [
    "@babel/react",
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-export-default-from"
  ],
  "env": {
  }
}
